.mceContentBody {
	font: 19px/1.6 'Arimo', 'Helvetica Neue', Helvetica, sans-serif;
	color:#555;
	max-width: 75%;
}

.mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
    margin: 0 0 4% 0;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

.mceContentBody h1 {
    font-size: 40px;
}

.mceContentBody h2 {
    font-size: 34px;
}

.mceContentBody h3 {
    font-size: 30px;
}

.mceContentBody h4 {
    font-size: 24px;
}

.mceContentBody h5 {
    font-size: 18px;
}

.mceContentBody h6 {
    font-size: 14px;
}

.mceContentBody blockquote {
	position: relative;
	margin: 0 0 4% 0;
	z-index: 1;
}

.mceContentBody blockquote p {
	text-align: center;
	font-size: 18px;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #aaa;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	padding: 4%;
	margin-bottom: 0;
}

.mceContentBody ul,
.mceContentBody ol {
	margin: 0 0 5% 20px;
	line-height: 1.8;
}

.mceContentBody ul { list-style: disc }

.mceContentBody ol { list-style: decimal }

.mceContentBody ul ul,
.mceContentBody ol ol,
.mceContentBody ul ol,
.mceContentBody ol ul {
	margin: .4em 0 0 1em;
}

.mceContentBody ol li {
	list-style-type: decimal;
}

.highlight {
	background: #fff198;
	color: #222;
}

.intro {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #aaa;
	margin: 0 0 25px 0;
	padding: 20px 0;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
}

hr {
	margin: 5% 0;
    border: 0;
    border-bottom: 1px dotted #ddd;
    height: 1px;
}

pre {
	position: relative;
	background: #f7f7f7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 3% 5% 3% 10%;
	overflow: auto;
	max-width: 100%;
	tab-size: 4;
}

pre:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	font-family: "FontAwesome";
	content: "\f121";
	background: #BBC3CC;
	color: #fff;
	padding: 0 3px;
	font-size: 14px;
	z-index: 5;
}

code, kbd, tt, var { font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace }

.alignright {
	margin: 5px 0 30px 30px;
}

.alignleft {
	margin: 5px 30px 30px 0;
}

.pull-right, .pull-left {
	width: 34%;
	font-weight: 400;
	line-height: 1.4;
	font-size: 22px;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9BA6AD;
	text-transform: uppercase;
}

.pull-right {
	float: right;
	margin: 1% 0 3% 5%;
	text-align: right;
}

.pull-left {
	float: left;
	margin: 0 3% 3% 0;
	text-align: left;
}